<h1>Can Tho is in the southest land of Viet Nam</h1>

<center>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/omgSWqwVTjY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</center>