<div class="container col-md-8 text-center">
    <h1>Da Nang is the most desirable city in Viet Nam</h1>
    <img src="https://res.klook.com/image/upload/c_crop,w_1125,h_624,x_1,y_0/w_1125,h_624/w_80,x_15,y_15,g_south_west,l_Klook_water_br_trans_yhcmh3/destination/ur2mrg23d91mex03l4mw.jpg" height="100%" width="100%"/>
</div>