<div class="container col-md-6 text-center">
    <form method="get" asp-controller="Demo" asp-action="Output">
        Name: <input type="text" required minlength="3" maxlength="30" name="name" /><br />
        Age: <input type="number" required min="1" max="150" name="age" /><br />
        Image: <input type="text" required name="image" /><br />
        <input type="submit" value="OK" />
    </form>
</div>